<div class="container">
    <div class="logo-container">
        <img src="/assets/img/logo.png" alt="Logo">
        <h1 class="title">HosteJob</h1>
    </div>
    <div class="login-container">
        <form class="login-form" method="post">
            <input type="email" name="email" placeholder="Correo electrónico" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Iniciar Sesión</button>
            <hr>
            <a class="sign-up" routerLink="/signup" routerLinkActive="active">Regístrate</a>
        </form>
    </div>
</div>
