<div class="container">
    <div class="logo-container">
        <img src="/assets/img/logo.png" alt="Logo">
        <h1 class="title">HosteJob</h1>
    </div>
    <div class="signup-container">
        <h2 class="signup">Empresa</h2>

        <form class="signup-form">
            <input type="entity" name="entity" placeholder="Entidad" required>
            <input type="cif" name="cif" placeholder="CIF" required>
            <input type="address" name="address" placeholder="Dirección" required>
            <div class="second-row">
                <input type="email" name="email" placeholder="Correo electrónico" required>
                <input type="phone" name="phone" placeholder="Teléfono" required>
            </div>
            <button type="submit">Registrar</button>
        </form>
    </div>
</div>
