/* You can add global styles to this file, and also import other style files */

:root {
    --background-color: #4D0EF5;
}

html {
    background-color: var(--background-color);
    user-select: none;
}

html, body {
    height: 100%;
    margin: 0;
}